.new-workout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.new-workout-inputs {
  display: flex;
  margin-top: 20px;
}

.new-workout-buttons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}

.submit-workout {
  background-color: #6449ff;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.add-weight {
  color: #6449ff;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.remove-weight {
  color: #ff7728;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.add-weight-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  white-space: nowrap;
}

/** CHECKBOX STYLING FOR WEIGHT **/

.kg {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.kg-label {
  color: #6449ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-left: 20px;
}

.kg-label input {
  user-select: none;
  display: none;
}

.kg-custom-checkbox {
  user-select: none;
  visibility: hidden;
  width: 5px;
  height: 11px;
  border: solid #6449ff;
  border-width: 0 4px 4px 0;
  transform: rotate(40deg);
  margin-left: 12px;
}

.kg-label input:checked ~ .kg-custom-checkbox {
  visibility: visible;
  user-select: none;
}

/** -----------------------------**/

.close {
  background-color: #ff7728;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.new-workout-inputs input {
  border: none;
  border-bottom: 2px solid #6449ff;
  text-align: center;
  font-size: 0.95rem;
  padding-bottom: 10px;
  outline: none;
  color: #6449ff;
}

.new-workout-inputs input:nth-child(2),
.new-workout-inputs input:nth-child(3),
.new-workout-inputs input:nth-child(4) {
  margin-left: 20px;
}
